body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* Small devices */
@media (min-width: 576px) {
  html { font-size: 0.8rem; }
}

/* Medium devices */
@media (min-width: 768px) {
  html { font-size: 1.0rem; }
}

/* Large devices */
@media (min-width: 992px) {
  html { font-size: 1.2rem; }
}

.text-indent-sm { text-indent: 1.5rem; }
.text-indent { text-indent: 3rem; }
.text-indent-lg { text-indent: 5rem; }



